.container
{
    background-color: black;
    width: 300px;
    height: 350px;
    margin: auto;
    margin-top: 90px;
}
.order-form
{
    color: #fff;
    text-align: center;
    font-size: medium;
    font-family: sans-serif;
}




