.container{
    width: 250px;
    height: 300px;
    background-color: black;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 60px 5px;
    margin-top: 87px;
    
}
.remove{
    margin-top: 90px;
    margin-left: 44px;
    font-size: 23px;
    font-family: sans-serif;
    font-weight: bold;
    
    
    
}
