*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #262626;
}

li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}
.navbar{
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;


}

.nav-branding{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;

}
.nav-link{
    transition: 0.7s ease;
}

.nav-link:hover{
    color: dodgerblue;
}
.hamburger
{
    display: none;
    cursor: pointer;
}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

/* responsive side */

@media (max-width:768px) {
    .nav-branding{
        text-align: center;
    }
    
}

@media (max-width:768px) {
    .nav-item{
        padding-top: 15px;
    }
    
}

@media(max-width:768px){
    .hamburger{
        display: block;
    }
    .hamburger.active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

.hamburger.active.bar:nth-child(3){
    transform: translateY(8px) rotate(-45deg);
}

.nav-menu{
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
}

.nav-item{
    margin: 16px 0;
}
.nav-menu.active{
    left: 0;

}

}