* {
    box-sizing: border-box;
    font-family: sans-serif;
}
  body{
    
  
    background-color:#9AED99;
}  

html, body {
    margin: 0;
}
.loging-container{
    background-image: url(backGround.webp);
    width: 100vh;
    height: 283px;
    margin: auto;
    margin-top: 50px;
    background-size: cover;
    background-position: center;
    justify-content: center;
}
.container-data{
    text-align: center;
    padding-top: 30px;
}
.user{
    color: #fff;
    padding-right: 332px;
    font-family: monospace;
}
.signin
{
    margin-top: 40px;
}
.check-box
{
    padding-right: 376px;
    accent-color:#EA1764 ;
    
}
.check-text
{
    margin-top: -17px;
    font-size: 13px;
    margin-left: -260px;
    color: #fff;
    font-weight: lighter;
    font-family: ui-monospace;
}
.box{
    background-color: hsla(201, 100%, 91%, 0.3);
    border: none;
    outline: none;
    width: 410px;
    height: 20px;
    padding:.1em .25em;
    border-radius: 10px;
    font-weight: lighter;
    color: #fff;
}
.signin
{
    height: 29px;
    width: 394px;
    border-radius: 5px;
    background-color:#EA1764;
    border: none;
    outline: none;
    font-size: 13px;
    color: #fff;
    font-weight: lighter;
    margin-top: 20px;
border-radius: 15px;
}
.loging-tittle1{
    color: #fff;
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 13px;
    font-weight: lighter;
    text-decoration: underline #EA1764;
    
 
}
.loging-tittle{
    color: #fff;
    display: flex;
    gap: 15px;
    justify-content: center;
    font-size: 13px;
    font-weight: lighter;
 
}

.forgoat
{
   
    
   color: hsla(201, 100%, 91%, 0.5);
    margin-top: -30px;
    font-size: 10px;
    font-weight: lighter;
    margin-left: 313px;
   
    
}